/* Media query manager

0 - 600px phone
600px - 900px tablet portrait
900px - 1200px tablet landscape
1200px - 1800px desktop
1800px+ Big desktop

1em = 16px

*/
*
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/*

behance.net
shutterstock.com
mockupworld.co
graphicburger.com
freebiesbug.com
unsplash.com


Icons:
http://themes-pixeden.com/font-demos/7-stroke

*/
