/* Media query manager

0 - 600px phone
600px - 900px tablet portrait
900px - 1200px tablet landscape
1200px - 1800px desktop
1800px+ Big desktop

1em = 16px

*/
.centered-content {
  text-align: center; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.testimonials {
  background: #10c9c3; }

/*

behance.net
shutterstock.com
mockupworld.co
graphicburger.com
freebiesbug.com
unsplash.com


Icons:
http://themes-pixeden.com/font-demos/7-stroke

*/
body {
  color: #787878;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  color: #191919;
  font-family: 'Montserrat', sans-serif; }

h1, h2 {
  margin-bottom: 3rem; }

.header__text {
  font-size: 1.8rem;
  margin-bottom: 3.5rem; }

.header-navigation {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold; }
  .header-navigation__item {
    margin: 0 1.5rem; }
  .header-navigation__link {
    text-decoration: none;
    text-transform: uppercase; }
    .header-navigation__link:link, .header-navigation__link:visited {
      color: #191919; }
    .header-navigation__link:active, .header-navigation__link:hover {
      color: #10c9c3; }

.testimonials {
  color: #fff; }
  .testimonials__name {
    color: #fff; }

.button {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .10rem;
  text-decoration: none;
  text-transform: uppercase; }

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #10c9c3;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 1.8rem 4rem; }

.header-navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none; }

.header {
  background: url("../img/header-banner-cup.jpg") #e9e9e9;
  background-position: center;
  background-size: cover;
  padding: 4rem 0 20rem; }
  .header__navigation-container {
    display: grid;
    grid: auto/repeat(2, 1fr);
    margin-bottom: 18rem; }
  .header__banner {
    display: grid;
    grid: auto / 60% 1fr; }
