// Colours

$color-headings-black: #191919;  // navigation / headings
$color-footer-black: #141414;  // footer background
$color-overlay-black: #252525; // image eye overlay

$color-section-grey: #f5f5f5;
$color-header-grey: #e9e9e9;
$color-image-light-grey: #dddddd;
$color-image-dark-grey: #838383;
$color-icons-grey: #656565;
$color-text-grey: #787878; 
$color-footer-text-grey: #bcbcbc;
$color-skills-grey: #f8f9f9;
$color-skills-bar-grey: #d8d8d8;

$color-white: #fff;

$color-blue: #10c9c3;