.stats {
    display: grid;
    grid: auto / repeat(4, 1fr);
    margin: 0 auto;
    width: 90%;

    @include respond(tablet-portrait) {
        grid: auto / repeat(2, 1fr);
        grid-row-gap: 2rem; 
        grid-column-gap: 10rem; 
        width: 70%;
    }

    @include respond(phone) {
        grid: auto / 1fr;
        grid-row-gap: 5rem;
        width: 50%;
    }
}

.stat {
    display: grid;
    grid: auto / 25% 75%;

    @include respond(phone) {
        grid: auto / 30% 70%;
    }

    &__info {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;   
    }
}