// Reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}


html {
    // 1rem will be 10px
    font-size: 62.5%; // 1rem = 10px  10px / 16px = 62.5%
}

body {
    box-sizing: border-box;
}

.skills {
    display: grid;
    grid: auto / repeat(2, 1fr);
}

.stats {
    background: $color-blue;
}

.testimonials {
    background: $color-blue;
}

.clients {
    display: grid;
    grid: auto / repeat(5, 1fr);
    list-style: none;
    justify-content: center; 
}